<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaof.learn.lesson.mapper.MachineMapper" >
  <resultMap id="BaseResultMap" type="com.xiaof.learn.lesson.entity.Machine" >
    <constructor >
      <idArg column="mach_num" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <idArg column="job_order" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="job_num" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="part_num" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="time" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="start_time" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    mach_num, job_order, job_num, part_num, time, start_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xiaof.learn.lesson.entity.MachineExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from machine
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.xiaof.learn.lesson.entity.MachineKey" >
    select 
    <include refid="Base_Column_List" />
    from machine
    where mach_num = #{machNum,jdbcType=INTEGER}
      and job_order = #{jobOrder,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.xiaof.learn.lesson.entity.MachineKey" >
    delete from machine
    where mach_num = #{machNum,jdbcType=INTEGER}
      and job_order = #{jobOrder,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xiaof.learn.lesson.entity.MachineExample" >
    delete from machine
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xiaof.learn.lesson.entity.Machine" >
    insert into machine (mach_num, job_order, job_num, 
      part_num, time, start_time
      )
    values (#{machNum,jdbcType=INTEGER}, #{jobOrder,jdbcType=INTEGER}, #{jobNum,jdbcType=INTEGER}, 
      #{partNum,jdbcType=INTEGER}, #{time,jdbcType=INTEGER}, #{startTime,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiaof.learn.lesson.entity.Machine" >
    insert into machine
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="machNum != null" >
        mach_num,
      </if>
      <if test="jobOrder != null" >
        job_order,
      </if>
      <if test="jobNum != null" >
        job_num,
      </if>
      <if test="partNum != null" >
        part_num,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="machNum != null" >
        #{machNum,jdbcType=INTEGER},
      </if>
      <if test="jobOrder != null" >
        #{jobOrder,jdbcType=INTEGER},
      </if>
      <if test="jobNum != null" >
        #{jobNum,jdbcType=INTEGER},
      </if>
      <if test="partNum != null" >
        #{partNum,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        #{time,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xiaof.learn.lesson.entity.MachineExample" resultType="java.lang.Integer" >
    select count(*) from machine
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update machine
    <set >
      <if test="record.machNum != null" >
        mach_num = #{record.machNum,jdbcType=INTEGER},
      </if>
      <if test="record.jobOrder != null" >
        job_order = #{record.jobOrder,jdbcType=INTEGER},
      </if>
      <if test="record.jobNum != null" >
        job_num = #{record.jobNum,jdbcType=INTEGER},
      </if>
      <if test="record.partNum != null" >
        part_num = #{record.partNum,jdbcType=INTEGER},
      </if>
      <if test="record.time != null" >
        time = #{record.time,jdbcType=INTEGER},
      </if>
      <if test="record.startTime != null" >
        start_time = #{record.startTime,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update machine
    set mach_num = #{record.machNum,jdbcType=INTEGER},
      job_order = #{record.jobOrder,jdbcType=INTEGER},
      job_num = #{record.jobNum,jdbcType=INTEGER},
      part_num = #{record.partNum,jdbcType=INTEGER},
      time = #{record.time,jdbcType=INTEGER},
      start_time = #{record.startTime,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaof.learn.lesson.entity.Machine" >
    update machine
    <set >
      <if test="jobNum != null" >
        job_num = #{jobNum,jdbcType=INTEGER},
      </if>
      <if test="partNum != null" >
        part_num = #{partNum,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=INTEGER},
      </if>
    </set>
    where mach_num = #{machNum,jdbcType=INTEGER}
      and job_order = #{jobOrder,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaof.learn.lesson.entity.Machine" >
    update machine
    set job_num = #{jobNum,jdbcType=INTEGER},
      part_num = #{partNum,jdbcType=INTEGER},
      time = #{time,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=INTEGER}
    where mach_num = #{machNum,jdbcType=INTEGER}
      and job_order = #{jobOrder,jdbcType=INTEGER}
  </update>
</mapper>